# --- CONFIGURACIÓN DE BASE DE DATOS (MYSQL) ---
MYSQL_ROOT_PASSWORD=meltic_root_secure_123
MYSQL_USER=meltic_user
MYSQL_PASSWORD=meltic_pass_secure_123
MYSQL_DATABASE=meltic_gmao

# --- CONFIGURACIÓN DE INDUSTRIAL (PLC) ---
# IP del Controllino o autómata real (ej: 192.168.1.150)
PLC_URL=http://backend:8080/api/plc/mock
# Frecuencia de muestreo en milisegundos
PLC_POLLING_RATE=5000

# --- RED ---
# Si despliegas en un entorno con IPs específicas
BACKEND_HOST=backend
MONGODB_HOST=mongodb
MYSQL_HOST=mysql-db
